<h1>Welcome to My Blog Blog</h1>

<% @posts.each do |post|%>
	<h2><%=link_to post.title,post%></h2>
	<p>
		<%= time_ago_in_words post.created_at %>ago
	</p>
	<p>
		<%= truncate post.text%>
	</p>
<% end %>

<p><%= link_to "New Post", new_post_path %></p>
	
